<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #header
        
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo"></div>
            <nav class="nav">
                <ul>
                    <li a href="#">인플루언서 안내</li>
                    <li a href="#"></li>
                    <li a href="#"></li>
                    <li a href="#"></li>
                    <li a href="#"></li>
                </ul>
            </nav>
            <div class="log"><a href="#">로그인</a></div>
        </header>
        <section></section>
        <section></section>
        <section></section>
        <footer></footer>
    </div>
    
</body>
</html>